<div class="container mt-4">
  <h2 class="mb-4">Your Cart</h2>

  <div *ngIf="cartItems.length > 0; else emptyCart">
    <table class="table table-bordered">
      <thead class="table-light">
        <tr>
          <th>Product</th>
          <th>Price</th>
          <th>Qty</th>
          <th>Total</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cartItems">
          <td>{{ item.product.name }}</td>
          <td>{{ item.product.price | currency:'INR':'symbol' }}</td>
          <td> <button class="btn btn-sm btn-secondary" (click)="decreaseQuantity(item)">−</button>
                 {{ item.quantity }}
               <button class="btn btn-sm btn-secondary" (click)="increaseQuantity(item)">+</button>
          </td>
          <td>{{ item.product.price * item.quantity | currency:'INR':'symbol' }}</td>
          <td>
            <button class="btn btn-danger btn-sm" (click)="removeItem(item.product.id)">Remove</button>
          </td>
        </tr>
      </tbody>
    </table>

    <h4 class="text-end">Total: {{ total  | currency:'INR':'symbol'}}</h4>

    <div class="text-end">
      <a class="btn btn-sm btn-success" routerLink="/checkout">Checkout</a>
   &nbsp;
      <button class="btn btn-sm btn-warning" (click)="clearCart()">Clear Cart</button>
    </div>
  </div>

  <ng-template #emptyCart>
    <p>Your cart is empty.</p>
  </ng-template>
</div>
